In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('Telco_Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [6]:
df.shape

(7043, 21)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [40]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'].dtypes

dtype('float64')

In [41]:
def uni(columnname):
    print(columnname, "--", df[columnname].unique())

In [42]:
dataobject = df.select_dtypes(['object'])
len(dataobject.columns)

17

In [43]:
for i in range(len(dataobject.columns)):
    print(uni(dataobject.columns[i]))

customerID -- ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
None
gender -- ['Female' 'Male']
None
Partner -- ['Yes' 'No']
None
Dependents -- ['No' 'Yes']
None
PhoneService -- ['No' 'Yes']
None
MultipleLines -- ['No phone service' 'No' 'Yes']
None
InternetService -- ['DSL' 'Fiber optic' 'No']
None
OnlineSecurity -- ['No' 'Yes' 'No internet service']
None
OnlineBackup -- ['Yes' 'No' 'No internet service']
None
DeviceProtection -- ['No' 'Yes' 'No internet service']
None
TechSupport -- ['No' 'Yes' 'No internet service']
None
StreamingTV -- ['No' 'Yes' 'No internet service']
None
StreamingMovies -- ['No' 'Yes' 'No internet service']
None
Contract -- ['Month-to-month' 'One year' 'Two year']
None
PaperlessBilling -- ['Yes' 'No']
None
PaymentMethod -- ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
None
Churn -- ['No' 'Yes']
None

In [50]:
def labelencode(columnname):
    df[columnname] = LabelEncoder().fit_transform(df[columnname])

In [51]:
for i in range(len(dataobject.columns)):
    labelencode(dataobject.columns[i])

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null int64
gender              7043 non-null int64
SeniorCitizen       7043 non-null int64
Partner             7043 non-null int64
Dependents          7043 non-null int64
tenure              7043 non-null int64
PhoneService        7043 non-null int64
MultipleLines       7043 non-null int64
InternetService     7043 non-null int64
OnlineSecurity      7043 non-null int64
OnlineBackup        7043 non-null int64
DeviceProtection    7043 non-null int64
TechSupport         7043 non-null int64
StreamingTV         7043 non-null int64
StreamingMovies     7043 non-null int64
Contract            7043 non-null int64
PaperlessBilling    7043 non-null int64
PaymentMethod       7043 non-null int64
MonthlyCharges      7043 non-null float64
TotalCharges        7032 non-null float64
Churn               7043 non-null int64
dtypes: float64(2), int64(19)
memory usage: 1.1 MB

In [55]:
for i in range(1,len(dataobject.columns)):
    uni(dataobject.columns[i])

gender -- [0 1]
Partner -- [1 0]
Dependents -- [0 1]
PhoneService -- [0 1]
MultipleLines -- [1 0 2]
InternetService -- [0 1 2]
OnlineSecurity -- [0 2 1]
OnlineBackup -- [2 0 1]
DeviceProtection -- [0 2 1]
TechSupport -- [0 2 1]
StreamingTV -- [0 2 1]
StreamingMovies -- [0 2 1]
Contract -- [0 1 2]
PaperlessBilling -- [1 0]
PaymentMethod -- [2 3 0 1]
Churn -- [0 1]

In [58]:
df_1 = df.drop(['customerID', 'gender', 'tenure', 'MultipleLines', 'PaymentMethod'], axis=1)
df_1

,SeniorCitizen,Partner,Dependents,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,1,0,0,0,0,2,0,0,0,0,0,1,29.85,29.85,0
1,0,0,0,1,0,2,0,2,0,0,0,1,0,56.95,1889.50,0
2,0,0,0,1,0,2,2,0,0,0,0,0,1,53.85,108.15,1
3,0,0,0,0,0,2,0,2,2,0,0,1,0,42.30,1840.75,0
4,0,0,0,1,1,0,0,0,0,0,0,0,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,1,0,2,0,2,2,2,2,1,1,84.80,1990.50,0
7039,0,1,1,1,1,0,2,2,0,2,2,1,1,103.20,7362.90,0
7040,0,1,1,0,0,2,0,0,0,0,0,0,1,29.60,346.45,0
7041,1,1,0,1,1,0,0,0,0,0,0,0,1,74.40,306.60,1
7042,0,0,0,1,1,2,0,2,2,2,2,2,1,105.65,6844.50,0

In [62]:
features = df_1.drop(['Churn'], axis=1)
features.columns

Index(['SeniorCitizen', 'Partner', 'Dependents', 'PhoneService',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')